* {
    margin: 0;
}

body {
    margin: 10px;
    margin-top: 0;
}

body a {
    text-decoration: none;
}
/* content */

.text-page {
    padding-left: 15px;  
}

.list-conteiner p {
    font-weight: bold;
    text-align: center;
}

.italic {
    font-style: italic;
}

.inside-li {
    list-style:none;
}

/* a {
    text-decoration: none;
} */

.list-conteiner {
    display: inline-block;
    border-style: solid;
    border-width: 0.5px;
    padding-right: 20px;
}

.html-conteiner {
    float: right;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
    margin-left: 10px;
}

.html-conteiner div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-html {
    max-width: 70px;
    margin-top: 3px;
}

.html-conteiner p {
    background-color: rgba(157, 218, 244, 0.798);
    width: 270px;
    text-align: center;
}

/* navigation panel */

.nav-conteiner {
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 229, 240);
}

.nav-conteiner ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-conteiner a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}

.nav-conteiner input {
    height: 25px;
    margin-left: 5px;
}

@media (max-width: 900px) {
    .nav-conteiner {
        flex-direction: column;
    }
}

.page {
    display: flex;
    justify-content: center;
}

.header {
    width: 12%;
    background-color: rgb(247, 247, 247);
    border-right-style: solid;
    border-width: 0.5px;
    border-color:rgb(186, 229, 243);
}

.section {
    width: 85%;
}

.header ol {
    list-style: none;
    padding: 5px 0 0 10px;
    margin-bottom: 10px;
}

.header li {
    margin-bottom: 7px;
}

.header .ol-header {
    display: block;
    margin: 30px 10px 0 10px;
    padding-bottom: 3px;
    color: rgb(114, 114, 114);
    border-bottom-style: solid;
    border-width: 0.5px;
    border-color: rgb(222, 222, 222);
}

.header div {
    width: 100%;
}

.header img {
    width: 100%;
}